@import "neat/neat";

$orange: #f5a623;
$grey: #787878;
$lightgrey: #BBBBBB;
$darkgrey: #575757;

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-bottom: 30em;
}

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

nav img {
  padding: 2em 0 0 .8em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.logo {
  list-style-type: none;
  height: 4.375em;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
  color: $grey;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 400;
  padding-right: 1em;
  text-transform: uppercase;
}

  ul {
  margin-top: -2.5em;
  position: relative;
  text-align: right;
  }

}

.discover, .share, .connect {
  color: $grey;
  display: inline-block;
  line-height: 1.2em;
  padding: 6em 2em 2em 0em;
  text-align: center;
  vertical-align: top;
  width: 20%;

  h1 {
    text-transform: uppercase;
  }

  @media only screen and (max-width: 1200px) {
  width: 25%;
  }

  @media only screen and (max-width: 800px) {
  width: 33%;
  }

  @media only screen and (max-width: 600px) {
  line-height: 1.2em;
  padding: 3em 1em 1em 1em;
  text-align: left;
  width: 100%;
  }
}

.reasons {
  text-align: center;
}

.reasons h1 {
  color: $orange;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 22px;
}

#container {
  @include outer-container(1440px);
}

.reasons img {
  padding-right: .5em;
  position: relative;
  top: 2px;
}

.reasons h1 {
padding-bottom: 2em;

  @media screen and (max-width: 600px) {
    padding-bottom: 1em;
  }
}

.signups {
  background: $orange;
  clear: both;
  color: #ffffff;
  display: block;
  font-size: 1.125em;
  font-weight: 400;
  margin: 0 auto;
  padding: 1.18125em 0 1.18125em 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 2em;
  width: 14em;
}

.signups:hover, .signups:visited:hover, .signups-input:hover, .signups-input:visited:hover, .add-new:hover, .add-new:visited:hover {
  background: darken($orange, 5%);
}

.signups-input {
  -webkit-appearance: none;
  background: $orange;
  border: 0 none;
  color: #ffffff;
  cursor:pointer;
  display: block;
  font-size: 1.125em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 4em;
  margin-top: 3em;
  padding: 1.18125em 0 1.18125em 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
    @media screen and (max-width:600px) {
    margin-bottom: 1em;
  }
}

.button {
  background: $orange;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
}

.grid-sizer {
  width: 20%;

  @media screen and (max-width:1200px){
    width: 33.33%;
  }

  @media screen and (max-width:800px){
    width: 50%
  }

  @media screen and (max-width:600px){
    width: 100%;
  }
}

.item {
  float: left;
  padding: 1em;
  position: relative;
  text-align: center;
  width: 20%;

  @media screen and (max-width:1200px) {
    width: 33.33%;
  }

  @media screen and (max-width:800px){
    width: 50%
  }

  @media screen and (max-width:600px){
    width: 100%;
    padding: 0;
    margin-bottom: 1.5em;
    }

}

.image{
  display: block;
  margin: 0;
  width: 100%;
}

.image:after {
  clear:both;
}

.mcontainer {
  clear: both;
  padding-bottom: 9em;
  position: relative;
  top: 9em;

  @media screen and (max-width:600px) {
    top: 5em;
  }
}

#loggedin {
  clear: both;
  position: relative;
  top: 4em;
}

.phototitle, .photoauthor {
  color: $grey;
  display: inline-block;
  font-size: .875em;
  letter-spacing: 1px;
  line-height: 1em;
}

.photoauthor {
  margin-top: .3em;
}

.phototitle {
  margin-top: 1em;
}

.large-title {
  color: $darkgrey;
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 2em 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

label {
  color: $grey;
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  padding-bottom: .5em;
  padding-top: 2em;
  text-align: center;
}

input[type=text], input[type=password], textarea {
  background-color: transparent;
  border: 1px solid $grey;
  color: $grey;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  outline: 1px $orange;
  padding: .5em .5em .5em .5em;
  text-align: left;
  width: 100%;
}

input[type=text].description {
  padding-bottom: 5em;
  word-wrap: break-word;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=file]:focus, input[type=search]:focus, .signups-input:focus, input[type=submit]:focus {
  border: 1px solid $orange;
  outline: none;
}

.input {
  text-align: center;
}

#input-container {
  margin: 0 auto;
  padding: 2.5em 1em 0 1em;
  width: 400px;
}

.search {
  border: 0 none;
  border-bottom: 1px solid $lightgrey;
  color: $grey;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  font-weight: 300;
  outline: none;
  }

.submit {
  background: url(../images/search.png) no-repeat left;
  background-color: transparent;
  border: 0 none;
  color: $grey;
  font-family:  'Lato', sans-serif;
  outline: none;
  padding-right: 1em;
}

.edit-profile {
  margin-top: 0.3em;
}

.sign-in {
    margin-top: 1.5em;
}

.biography {
  padding: 1em .3em 1em .3em;
}

.profile {
  padding: 5em 0 0 1em;
  width: 500px;

  @media screen and (max-width:600px){
    padding: 5em 0 0 0;
    width: 400px;

  }
}
.profile img {
  float: left;

  @media screen and (max-width:600px) {
    padding: 0em 0em 0em 0em;
  }
}

.profile-bio, .location, .profile-name {
  font-weight: 400;
  margin-left: 1em;

}

.location {
  color: $lightgrey;
  line-height: 1.3em;
}

.profile-bio {
  line-height: 2em;
}

.profile-name {
  font-size: 1.3em;
  margin-left: .8em;
}

nav a, nav a:visited, .details-user a {
  color: $grey;
  text-decoration: none;
}

nav a:hover, nav a:visited:hover, .details-user a:hover, .details-user a:visited:hover {
  color: $orange;
}

.menu-btn div {
 font-size: 18px;
 font-weight: 200;
 left: 100%;
 line-height: 1.2;
 margin-top: -0.50em;
 padding-right: 8px;
 position: absolute;
 top: 64%;
 vertical-align: middle;
 z-index: 99;
}

.menu-btn span {
 background: rgb(0,0,0);
 display: block;
 height: 3px;
 margin: 4px 0;
 width: 19px;
 z-index: 99;
}

.responsive-menu{
 display: none;
}

.expand {
 display: block !important;
}

.add-new {
  background: $orange;
  border: 0 none;
  color: #ffffff;
  cursor:pointer;
  display: block;
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: 10.3em;
  margin-top: 2.7em;
  padding: .5em 0 .5em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  weight: 300;
  width: 250px;

  @media screen and (max-width:600px) {
    width: 220px;
  }
}

input[type=file] {
  background-color: transparent;
  color: $grey;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  outline: 1px $orange;
  padding: .5em .5em .5em .5em;
  text-align: left;
  width: 100%;
}

input[type=search] {
  background-color: transparent;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: .5em .5em;
  border: 1px solid $lightgrey;
  border-radius: .5em;
  color: $grey;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  margin-bottom: .3em;
  outline: 1px $orange;
  padding: .5em .5em .5em 1.8em;
  text-align: left;
  width: 10em;
}

.log-in {
  margin-top: .3em
}

textarea {
  height: 10em;
}

.software {
  height: 4em;
}

.full-size-photo {
  background-image: url(../images/photo-before.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:   cover;
  height: 100vh;
  margin-top: 3em;
  width: 100%;
  transition: all 1.5s ease-in-out;


  @media screen and (max-width:1200px){
  height: 800px;
  }

  @media screen and (max-width:1000px){
  height: 667px;
  }

  @media screen and (max-width:800px){
  height: 533px;
  }

  @media screen and (max-width:600px){
  height: 400px;
  }

  @media screen and (max-width:400px){
  height: 267px;
  }

}

.full-size-photo:hover {
  background-image: url(../images/photo-after.jpg);
}

.details-title, .details-user {
  font-size: 1.8em;
  text-align: center;

  @media screen and (max-width:1000px) {
    font-size: 1.7em;
  }

  @media screen and (max-width:800px) {
    font-size: 1.6em;
  }

  @media screen and (max-width:600px) {
    font-size: 1.5em;
  }
}

.details-title {
  color: $grey;
  font-size: 2.5em;
  font-weight: 400;
  padding-top: .5em;
}

.details-user {
  padding-top: .2em;
  text-decoration: none;
}

h3 .details-user {
  text-decoration: none;
}

.exif, .photo-description, .process-description {
  color: $darkgrey;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 1em 1em 1em 1em;
  text-transform: uppercase;

  @media screen and (max-width:1000px) {
    font-size: 1.7em;
  }

  @media screen and (max-width:800px) {
    font-size: 1.6em;
  }

  @media screen and (max-width:600px) {
    font-size: 1.5em;
  }
}

.exif {
  float: left;
  height: 100%;
  width: 33.33%;

  @media screen and (max-width:800px) {
    width: 100%;
    float: none;
    height: 100%;
  }
}

.photo-description, .process-description {
  float: right;
  width: 60%;

    @media screen and (max-width:800px) {
      width: 100%;
      float: none;
    }
}

.photo-details-container {
  background-color: lighten($lightgrey, 20%);
  height: auto;
  margin-top: 2em;
}

.camera-details-title {
  display: block;
  font-size: .5em;
  margin-top: 5em;
}

.exif-details {
  font-weight: 300;
  margin-left: .2em;
}

.exif p, .photo-description p, .process-description p, {
  font-size: .6em;
  margin-top: 2em;
}

.photo-description p, .process-description p {
  font-weight: 300;
  line-height: 1.4em;
  text-transform: none;
}

